{% extends "base_member.html" %}
{% set active_page = 'social_account' %}

{% block script_css %}

{% endblock %}

{% block main_container %}
    <div class="member_center_r shadow social_account_box">


        <h4 class="title">第三方账号</h4>


        <p>绑定第三方帐号后可以直接使用第三方账号登录哦，还可以把动态分享到这些平台，与友同乐。</p>


        <div class="social_account">

            <div class="social_icon">
                <i class="icon icon-icon-qq active"></i>

            </div>
            <div class="social_btn">

                <button class=" button button_red">解除绑定</button>
            </div>

        </div>


        <div class="social_account">

            <div class="social_icon">

                <i class="icon icon-icon-weixin"></i>
            </div>
            <div class="social_btn">

                <button class=" button button_green">立即绑定</button>
            </div>

        </div>


        <div class="social_account">

            <div class="social_icon">
                <i class="icon icon-icon-xinlangweibo"></i>
            </div>
            <div class="social_btn">

                <button class=" button button_green">立即绑定</button>
            </div>

        </div>


    </div>

{% endblock %}