<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>课程图片</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='libs/bootstrap/3.3.0/css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_new.css') }}"/>
    <link href="{{ url_for('static', filename='admin/css/styles.css') }}" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/icon_style.css') }}"/>




</head>
<body style="background-color: #fff" data-course-id="{{ course_id }}" data-post-url="{{ url_for(".course_draw_save") }}" data-token-url="{{ url_for('common.get_qiniu_upload_token',bucket='cniao5-imgs') }}">

    <div class="container" id="content-container">
        
        <div class="page-close"><a href="javascript:window.close()"><i class="icon icon-close"></i></a> </div>



        <div class="row img-list" style="margin-top: 50px">


            {% if imgs|length >0 %}

                {% for img in imgs %}
                    <div class="col-md-3"><a href="#" class="thumbnail"><img src="{{ img.img_url }}" ></a></div>

                {% endfor %}

            {% endif %}

        </div>
        <hr>

        <div class="row clearfix " >

            <div class="progress" style="">
                <div class="progress-bar progress-bar-success" role="progressbar"  style="width: 0%"></div>
            </div>

            <div class="screenshot-container" id="screenshot-container">
                <a class="pickfiles" id="pickfiles"> <i class="icon icon-plug-add-3"></i>  选择图片或者拖拽文件到此</a>
            </div>
        </div>
        
        
    </div>


 <script src="{{ url_for('static', filename='libs/sea/2.1.1/sea.js') }}"></script>
 <script src="{{ url_for('static', filename='libs/seajs-global-config.js') }}"></script>
      <script src="{{ url_for('static', filename='libs/plupload/plupload.full.min.js') }}"></script>
     <script src="{{ url_for('static', filename='libs/qiniu/qiniu.min.js') }}"></script>

  <script type="text/javascript">

                var app={};
                app.debug = true;
                app.jsPaths={};
                app.global_script='path-js/global-config';
                app.controller='app/admin/course-imgs';
                app.mainScript = 'path-js/app';

                seajs.use(app.mainScript);

  </script>


</body>
</html>