{% extends "base_new.html" %}

{% block title %}找回密码 菜鸟窝-国内领先专业的移动开发IT技能在线教育平台{% endblock %}

{% block main_block %}


     <div id="content-container" class="container">


           <div class="row row-6">

               <div class="col-md-6 col-md-offset-3 ptl">



                    <div class="panel panel-default panel-page">
                       <div class="panel-heading"><h4>重设密码</h4></div>


                       <form id="password-reset-form" class="form-vertical" method="post" action="{{ url_for('auth.find_password_step2') }}" >
                           <div class="form-group">
                               <label class="control-label required" for="form_email_phone">手机号/邮箱</label>
                               <div class="controls">
                                   <input type="text"
                                          id="form_email_phone"
                                          name="email_phone"
                                          required="required"
                                          data-url="{{ url_for('auth.check_email_or_mobi_not_exist') }}"
                                          class="form-control input-lg"
                                          placeholder="手机或邮箱"
                                          data-explain="手机号/邮箱">

                               </div>
                           </div>

                           <div class="form-group">
                               <div class="controls">

                                   <button type="submit" class="btn btn-primary btn-block btn-lg" data-loading-text="正在跳转...">下一步</button>
                               </div>
                           </div>



                       </form>



                   </div>


               </div>

           </div>

       </div>



{% endblock %}


{% block custom_js_block %}

<script type="text/javascript">

        var app={};

        app.debug = true;
        app.jsPaths={};
        app.global_script='path-js/global-config';
        app.controller='app/password-reset';
        app.mainScript = 'path-js/app';

        seajs.use(app.mainScript);


    </script>
{% endblock %}

