{% extends "base_new.html" %}

{% block title %}找回密码 菜鸟窝-国内领先专业的移动开发IT技能在线教育平台{% endblock %}

{% block main_block %}


     <div id="content-container" class="container">


           <div class="row row-6">

               <div class="col-md-6 col-md-offset-3 ptl">




                   <div class="panel panel-default panel-page">
                       <div class="panel-heading"> <h5>为了账号安全，需要验证 {% if isEmail %}邮箱 {% else %}手机{% endif %} 的有效性</h5></div>


                       <form id="code-form"
                             class="form-vertical"
                             novalidate="novalidate"
                             method="post"
                             data-email-or-mobi="{{ email_or_mobi }}"
                             data-is-email="{% if isEmail %}1{% else %}0{% endif %}"
                             data-email-send-url="{{ url_for('auth.send_code_for_find_pwd_use_email') }}"
                             action="{{ url_for('auth.find_password_step_last') }}"
                               >


                           <input type="hidden" name="email_phone" value="{{ email_or_mobi }}"/>
                            <p class="text-info"></p>



                           {% if isEmail %}

                                 <div class="form-group">
                                   <div class="controls">
                                       <input type="text"
                                              id="email_code"
                                              name="email_code"
                                              required="required"
                                              data-url="{{ url_for('auth.send_code_for_find_pwd_use_email_check') }}?email={{ email_or_mobi }}"
                                              class="form-control input-lg"
                                              placeholder="输入邮件中的验证码"
                                              data-explain="验证码">

                                   </div>
                               </div>

                           {% else %}

                               <div class="form-group">

                                   <div class="controls row">

                                       <div class="col-md-8">

                                           <input type="text"
                                                  class="form-control input-lg"
                                                  id="validate_code"
                                                  name="validate_code"
                                                  placeholder="输入图片验证码"
                                                  required="required"
                                                  data-url="{{ url_for('auth.validate_code_check') }}"

                                                   >
                                           <p class="help-block"> </p>
                                       </div>
                                       <div class="col-md-4">
                                           <a href="javascript:void(0)"
                                              class="js-validate-code-ref "
                                              data-url="{{ url_for('auth.get_code') }}"
                                                   title="点击刷新验证码">

                                               <img src="{{ url_for('auth.get_code') }}" alt="点击刷新验证码"/>

                                           </a>
                                       </div>

                                   </div>
                               </div>

                               <div class="form-group">

                                   <div class="controls row">

                                       <div class="col-md-8">
                                           <input type="number" class="form-control input-lg"
                                                  id="sms_code"
                                                  name="sms_code"
                                                  placeholder="输入短信验证码"
                                                  required="required"
                                                  data-url="{{ url_for('auth.code_for_find_pwd_use_mobile_check') }}?mobile={{ email_or_mobi }}">
                                           <p class="help-block"> </p>
                                       </div>
                                       <div class="col-md-4">
                                           <a href="javascript:void(0)"  class="btn btn-default btn-lg js-sms-send disabled "
                                              data-sms-url="{{ url_for('auth.send_code_for_find_pwd_use_mobile') }}">
                                               <span id="js-time-left"></span>
                                               <span id="js-fetch-btn-text">获取动态码</span>
                                           </a>
                                       </div>

                                   </div>
                               </div>
                           {% endif %}





                           <div class="form-group">
                               <div class="controls">

                                   <button type="submit" class="btn btn-primary btn-block btn-lg" data-loading-text="正在跳转...">下一步</button>
                               </div>
                           </div>



                       </form>



                   </div>


               </div>

           </div>

       </div>



{% endblock %}


{% block custom_js_block %}

<script type="text/javascript">

        var app={};

        app.debug = true;
        app.jsPaths={};
        app.global_script='path-js/global-config';
        app.controller='app/password-reset';
        app.mainScript = 'path-js/app';

        seajs.use(app.mainScript);


    </script>
{% endblock %}

