{% extends "base_new.html" %}

{% block title %}
    账号未激活-菜鸟窝 国内专业的Android职业技能在线学习平台
{% endblock %}

{% block keywords %}菜鸟窝,Android就业培训,Android职业培训,Android项目课程,Android视频课程,RxJava视频教程,Android6.0视频教程,RxAndroid视频教程,React Native视频教程,OkHttp视频教程

    　{% endblock %}

{% block description %}菜鸟窝是国内最专业的Android开发人才培训基地，拥有精心打造的、以就业为导向、体系化职业培训课程。游戏通关式教学，任务制学习，一对一VIP全程辅导；
除此之外还拥有海量的项目实战课程，助你快速积累项目经验，成为Android优秀技术人才！
{% endblock %}



{% block main_block %}


     <div id="content-container" class="container">

         <div class="order-pay">

                <div class="cniao-section">


                    <div class="order-pay-body">

                         <div class="order-pay-state error ">
                            <i class="icon icon-close  "></i>

                             <p >您的账号未激活</p>
                        </div>




                    </div>


                </div>
            </div>
     </div>

{% endblock %}


