{% extends "base_new.html" %}

{% block title %}
   全部课程-国内专业的Android职业技能在线学习平台
{% endblock %}

{% block keywords %}菜鸟窝,Android就业培训,Android职业培训,Android项目课程,Android视频课程,RxJava视频教程,Android6.0视频教程,RxAndroid视频教程,React Native视频教程,OkHttp视频教程

    　{% endblock %}

{% block description %}菜鸟窝是国内最专业的Android开发人才培训基地，拥有精心打造的、以就业为导向、体系化职业培训课程。游戏通关式教学，任务制学习，一对一VIP全程辅导；
除此之外还拥有海量的项目实战课程，助你快速积累项目经验，成为Android优秀技术人才！
{% endblock %}



{% block main_block %}

    <section class="cniao-section" id="content-container">


             <div  class="container">

                 <div class="cniao-tabs">

                    <div class="tab-header">

                        <ul class="clearfix">
                            <li  {% if type == 10000 %} class="active" {% endif %}><a href="{{ url_for('course.index',type=10000,order_by=order_by,page=1) }}">全部 </a>

                            </li>

                            <li  {% if type == 2 %} class="active" {% endif %}> <a href="{{ url_for('course.index',type=2,order_by=order_by,page=1) }}"> <i class="icon icon-coin-yen text-warning"></i> 项目课程</a></li>

                            <li  {% if type == 3 %} class="active" {% endif %}><a href="{{ url_for('course.index',type=3,order_by=order_by,page=1) }}" class="color-danger">就业课程</a></li>
                            <li  {% if type == 1 %} class="active" {% endif %}><a href="{{ url_for('course.index',type=1,order_by=order_by,page=1) }}">会员课程</a></li>
                            <li  {% if type == 0 %} class="active" {% endif %}><a href="{{ url_for('course.index',type=0,order_by=order_by,page=1) }}">免费课程</a></li>
                        </ul>


                    </div>
                </div>

                <div class="cniao-filter">

                    <ul class="nav nav-sort clearfix">
                        <li ><a href="{{ url_for('course.index',type=type,order_by=0,page=1) }}"{% if order_by == 0 %} class="active" {% endif %}>最新</a></li>
                        <li><a href="{{ url_for('course.index',type=type,order_by=1,page=1) }}" {% if order_by == 1 %} class="active" {% endif %}>最热</a></li>

                    </ul>


                </div>

                 <div class="course-list">

                     <div class="row">

                         {% for cla in pagination.datas %}

                             <div class="col-md-3 col-sm-6">

                               {% include "course/item.html" %}

                            </div>
                         {% endfor %}


                     </div>
                 </div>

             {% if pagination.totalPage >1 %}

                <nav class=" text-center">
                    <ul class="pagination">


                             {% for i in range(0,pagination.totalPage) %}
                                     <li {% if (i+1)==page %} class="active" {% endif %}><a href="{{ url_for('course.index',type=type,order_by=order_by,page=(i+1)) }}">{{ i+1 }}</a></li>
                            {% endfor %}
                    </ul>

                </nav>

             {% endif %}

             </div>
    </section>


{% endblock %}


{% block custom_js_block %}




     <script type="text/javascript">

        var app={};
        app.debug = true;
        app.jsPaths={};
        app.global_script='path-js/global-config';
        app.mainScript = 'path-js/app';
        window.app=app;

        seajs.use(app.mainScript);

    </script>

{% endblock %}