{% extends "course/base_course_detail.html" %}

{% block course_bottom_left %}



    <div class="nav-btn-tab">

        <ul class="nav nav-tabs" role="tablist">

            <li  class="">
                <a href="{{ url_for('course.course_detail', id=class_item.id) }}"

                       title="{{ class_item.name }}课程简介"
                       >简介</a>

            </li>

            <li  class="">
                <a href="{{ url_for('course.course_lessons', id=class_item.id) }}"
                   title="{{ class_item.name }}的目录"
                        >目录</a>
            </li>

              <li  class="active">
                <a href="{{ url_for('course.course_thread', id=class_item.id) }}"
                   title="{{ class_item.name }}的讨论"
                        >讨论区</a>
            </li>

            <li class="">
                <a href="{{ url_for('course.course_comment', id=class_item.id) }}"
                   title="{{ class_item.name }}的评价"

                        >评价

                    <small class="text-muted">( {{ class_item.comment_count }} )</small>

                </a>
            </li>

            <li  class="hidden-xs">
                <a href="{{ url_for('course.course_courseware', id=class_item.id) }}"
                   title="{{ class_item.name }}的源码"
                   >源码

                    </small>

                </a>
            </li>
         </ul>
    </div>

    <ul class="breadcrumb">
      <li><a href="{{ url_for('course.course_thread',id=class_item.id) }}">讨论区</a></li>
      <li class="active">提问题</li>
   </ul>


      <form id="thread-form" class="form-vertical"
            data-url="{{ url_for('thread.thread_course_question_create',_external=True) }}"
            data-go-url="{{ url_for('course.course_thread',id=class_item.id) }}"

            novalidate="novalidate">

          <div class="form-group">
            <div class="controls">
                    <input type="text" id="thread_title" name="thread[title]"
                           required="required" class="form-control"
                           placeholder="标题，用一句话说清你的问题"
                           data-display="标题"  data-explain="">
                <div class="help-block" style=""></div>
            </div>
          </div>

          <div class="form-group">
            <div class="controls">
              <textarea id="thread_content"
                        name="thread[content]"
                        class="form-control"
                        rows="15"
                        data-display="内容"

                          data-explain=""></textarea>
            <div class="help-block" style="display:none;"></div>

            </div>
          </div>

          <div class="form-group clearfix">
            <div class="controls pull-right">
               <input type="hidden" id="thread_courseId" name="courseId" value="{{ class_item.id }}">

                      <a href="{{ url_for('course.course_thread',id=class_item.id) }}" class="btn btn-link">取消</a>
                    <button id="btn-thread-save" type="submit" class="btn btn-primary">发表</button>
             </div>
          </div>

    </form>





{% endblock %}


