<!DOCTYPE html>
<html lang="zh-cn">
<head>


    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">

    <title>{{ user.username }} 送你30天VIP,请注册后领取-菜鸟窝</title>
 <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='libs/bootstrap/3.3.0/css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_new.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/icon_style.css') }}"/>

    <link rel="shortcut icon" href="http://7mno4h.com1.z0.glb.clouddn.com/cniao.com.ico"/>




    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->



</head>
<body style="padding-top: 0px">




    <div class="cniao-wrap">




        <div class="invite-section">

            <div class="container">

                <img class="logo hidden-xs" src=" {{ url_for('static', filename='images/logo.png') }}">



                <div class="inviter-info">

                    <a href="javascript:void(0)" class="user-avatar">

                        {% if user.logo_url is none or user.logo_url=='' %}
                            <img  src="{{ url_for('static', filename='images/default_head.jpeg') }}">
                        {% else %}
                            <img  src="{{ user.logo_url }}">
                        {% endif %}


                    </a>

                     <div class="user-info">
                         <span> <strong class="name color-danger">{{ user.username }}</strong>  送你30天VIP,请注册后领取</span>
                     </div>

                </div>

            </div>
        </div>
        <div class="section-white invite-reg">

            <div class="container ">
                <div class=" login-section">

                   <div class="login-main">



                       <form id="register-form"
                             method="post"
                             data-post-url="{{ url_for("invite.reg") }}"
                             novalidate="novalidate"
                            data-channel="{{ channel }}"
                            data-from-code ={{ user.unique_code }}>


                          <div class="form-group mbs">
                           <div class="controls">
                               <input type="text"
                                      id="register_mobile"
                                      name="mobi"
                                      required="required"
                                      class="form-control input-lg"
                                      data-url="{{ url_for('auth.check_mobile_exist') }}"
                                      placeholder="常用手机号"
                                       data-explain="">
                               <p class="help-block"></p>
                           </div>
                       </div>

                            <div class="form-group mbs">
                       <div class="controls">
                           <input type="password" id="register_password"
                                  name="password" required="required"
                                  class="form-control input-lg"
                                  placeholder="由5-20个字符组成"
                                  >
                           <p class="help-block"></p>
                       </div>
                   </div>



                   <!--  手机号码和验证码校验通过  发送验证码按钮才可以使用-->
                   <div class="form-group mbs  email_mobile_msg">
                       <div class="controls row">
                           <div class="col-xs-7">
                               <input type="text" class="form-control input-lg" id="sms_code" name="sms_code"
                                      placeholder="短信动态码" required="required"
                                      data-url="{{ url_for('auth.check_sms') }}" >
                               <p class="help-block"> </p>
                           </div>
                           <div class="col-xs-5">
                               <a href="javascript:void(0)" class="btn btn-default btn-lg js-sms-send disabled "
                                   data-sms-url="{{ url_for('auth.send_sms_code_for_reg') }}">
                                   <span id="js-time-left"></span>
                                   <span id="js-fetch-btn-text">获取动态码</span>
                               </a>
                           </div>
                       </div>
                   </div>


                           <div class="form-group mbs">
                               <div class="controls">
                                   <button type="submit" id="register-btn"
                                           data-submiting-text="正在提交"
                                           class="btn btn-primary btn-lg btn-block"
                                   style="">

                                       立即注册</button>


                                   <a href="{{ url_for('.index') }}" class="btn btn-rectangle btn-warning btn-lg  btn-block btn-invite">
                                       获取360天VIP
                                   </a>
                               </div>
                           </div>



                       </form>


                   </div>

               </div>
            </div>
        </div>






        <div class="invite-section">
            <div class="container">

                <div class="text-line">
                    <h5>
                        您能获得的福利
                        <div class="line"></div>
                    </h5>
                    <div class="subtitle">邀请越多福利越多</div>
                </div>

                <div class="course-list row">


                    <div class="col-md-3 col-sm-6">

                        <div class="course-item">
                            <div class="course-img">
                                <a href="{{ url_for('train.android') }}" target="_blank">
                                    <img src="http://7mno4h.com2.z0.glb.qiniucdn.com/android_500_300_1.png" alt="Android高级工程师培训课程"
                                         class="img-responsive">
                                </a>
                            </div>
                            <div class="course-info">
                                <div class="title">
                                    <a class="" href={{ url_for('train.android') }} target="_blank">
                                        Android高级工程师培训课程
                                    </a>
                                </div>
                                <div class="metas clearfix">

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">

                        <div class="course-item">
                            <div class="course-img">
                                <a href="http://www.cniao5.com/course/10114" target="_blank">
                                    <img src="http://7mno4h.com1.z0.glb.clouddn.com/react-native.png" alt="React Native 零基础到高级"
                                         class="img-responsive">
                                </a>
                            </div>
                            <div class="course-info">
                                <div class="title">
                                    <a class="" href="{{ url_for('train.android') }}" target="_blank">
                                        React Native  零基础到高级
                                    </a>
                                </div>
                                <div class="metas clearfix">

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">

                        <div class="course-item">
                            <div class="course-img">
                                <a href="{{ url_for('vip.index') }}" target="_blank">
                                    <img src="http://www.cniao5.com/static/images/vip_500_300.png" alt="高级VIP课程集合"
                                         class="img-responsive">
                                </a>
                            </div>
                            <div class="course-info">
                                <div class="title">
                                    <a class="" href="{{ url_for('vip.index') }}" target="_blank">
                                        高级VIP课程集合
                                    </a>
                                </div>
                                <div class="metas clearfix">

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">

                        <div class="course-item">
                            <div class="course-img">
                                <a href="{{ url_for('course.index') }}" target="_blank">
                                    <img src="http://7mno4h.com1.z0.glb.clouddn.com/more.png" alt="更多课程"
                                         class="img-responsive">
                                </a>
                            </div>
                            <div class="course-info">
                                <div class="title">
                                    <a class="" href="{{ url_for('course.index') }}" target="_blank">
                                        更多课程
                                    </a>
                                </div>
                                <div class="metas clearfix">

                                </div>
                            </div>
                        </div>
                    </div>



                </div>

                <div class="text-center mbl mtl">

                    <p class="" style="color: #fff">＊注：活动最终解释权归菜鸟窝所有。严禁通过违规方式获取VIP，否则收回所有权限。</p>
                </div>


            </div>
        </div>


    </div>

    <div style="display:none;">

    <script type="text/javascript">
        /**
         * 统计代码
         * @type {_hmt|*|Array}
         * @private
         * */
        var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cspan id='cnzz_stat_icon_1256106650'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1256106650%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));
    </script>
</div>


    <script src="{{ url_for('static', filename='libs/sea/2.1.1/sea.js') }}"></script>
   <script src="{{ url_for('static', filename='libs/seajs-global-config.js') }}"></script>


    <script type="text/javascript">

        var app={};

        app.debug = true;
        app.jsPaths={};
        app.global_script='path-js/global-config';
        app.controller='app/invite-reg';
        app.mainScript = 'path-js/app';

        seajs.use(app.mainScript);


    </script>



</body>
</html>