{% extends "admin/base_admin.html" %}
{%  import "page_macros.html" as macros  %}

{% block script_css %}

    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='libs/datepicker/skin/WdatePicker.css') }}"/>
    <script src="{{ url_for('static', filename='libs/datepicker/WdatePicker.js') }}"></script>

 <script>

    $(function() {

    });

    function searchChapters(){
        $('#frmChapters').submit();
    }


 </script>

{% endblock %}

{% block main_block %}
    <div class="col-md-10">

        <div class="well search-well">
            <form  role="form" class="form-inline" action="chapters_manage.html" id="frmChapters" method="post">

                <div class="form-group" >

                    <div class="input-group">
                        <input type="text" class="form-control" name="degree_id"
                                placeholder="输入体系id" value={{ degree_id }}>
                        <div class="input-group-addon">
                            <a href="javascript:void(0)" onclick="searchDegree()" >
                                <i class="icon icon-search"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="well">

            <table class="table table-hover">

                <thead>
                <tr>
                    <th>章节名称</th>
                    <th>体系</th>
                    <th>默认学习天数</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>

                {% for item in chapters_list %}
                    <tr>
                        <td>

                            <p><i class="icon icon-folder-open"></i> <span>{{ item.title }}</span></p>
                        </td>
                        <td>
                            <p><span>{{ item.degree_id }}
                            </span></p>
                        </td>
                        <td>
                            <p><span>{{ item.init_day }}</span></p>
                        </td>
                        <td>
                                <a href="javascript:void(0)" onclick="changeStatus({{ item.id }})" >
                                <i class="icon icon-pencil size20"></i>
                                修改</a>｜
                                 <a href="cla_video_upload_{{ item.id }}.html" >
                                <i class="icon icon-pencil size20"></i>
                                课时配置</a>
                        </td>
                    </tr>

                {% endfor %}
                <tr>
                <td colspan="8">
                <div class="pagination">
                    {{ macros.pagination_widget(pagination, '.chapters_manage') }}
                </div>
                </td>
                </tr>

                </tbody>

            </table>

        </div>

    </div>
{% endblock %}
