{% extends "admin/base_admin.html" %}

{% block script_css %}

{% endblock %}

{% block main_block %}
    <div class="col-md-10">


        <div class="well">


            <form method="post" action="{{ url_for('admin.friendlink_add') }}" class="form-horizontal" novalidate="novalidate">


               {{ new_friendlink_form.hidden_tag() }}

                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ new_friendlink_form.site_name.label }}</label>

                    <div class="col-sm-8">
                        {{ new_friendlink_form.site_name(class_='form-control') }}
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ new_friendlink_form.site_url.label }}</label>

                    <div class="col-sm-8">
                        {{ new_friendlink_form.site_url(class_='form-control') }}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ new_friendlink_form.title.label }}</label>

                    <div class="col-sm-8">
                        {{ new_friendlink_form.title(class_='form-control') }}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ new_friendlink_form.contact.label }}</label>

                    <div class="col-sm-8">
                        {{ new_friendlink_form.contact(rows="3",class='form-control') }}
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-8">
                        {{ new_friendlink_form.submit(class_='button button_green button_big') }}
                    </div>
                </div>

            </form>

        </div>

    </div>
{% endblock %}
