

{% extends "admin/coupon/admin/abstrct_base_admin.html" %}

{% block script_css %}

{% endblock %}



{% block head_navbar_block %}

    <div class="navbar">
    <div class="navbar-inner">
        <div class="container-fluid">
            <ul class="nav pull-right">

                <li id="fat-menu" class="dropdown">
                    <a href="#" role="button" class="dropdown-toggle"
                       id="dropdownMenu" data-toggle="dropdown" aria-expanded="true">
                        <i class="icon icon-user"></i> {{ current_user.email }}
                        <i class="icon icon-circle-down"></i>
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu">

                        <li><a tabindex="-1" href="{{ url_for('admin.logout') }}">Logout</a></li>
                    </ul>
                </li>

            </ul>


            <a class="navbar-brand " href="{{ url_for('admin.index') }}">管理后台</a>

        </div>
    </div>
</div>

{% endblock %}

